.images{
    height: 600px;
    width: auto;
	border:5px solid black;
	margin:0 auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    color: rgb(76, 117, 90);
    text-align: center;
    background-size: 100%;
    /*margin-bottom:25px;*/
    font-size: 0.8em;
}


.cat-images{
    display: flex;
    width: 50%;
    margin: 0 auto;
}

img{
    width:33%;
}

@media only screen and (max-width: 750px){
    .images{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cat-images{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }

    img{
        width:100%;
    }
}